.container-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height:100vh;
}


.text-skills {
   font-family: "Inter", sans-serif; 
  font-size: 1rem;
  line-height: 1.6; 
  color: #4b5563; 
  margin-bottom: 1.5rem; 
  text-align: justify; /

}
.skills-flex {
  display: flex;
  flex-wrap: wrap;             
  gap: 40px;                   
  max-width: 60vw;             
  margin: 0 auto;             
  height: 150px;               
  align-content: flex-start;   
}

.skill-icons {
  width: 70px;     
  height: 70px;    
   
  transition: transform 0.2s ease-in-out; 
  
}

.skill-icons:hover {
  transform: scale(1.1); 
}